<tr class="result-row">
  <td class="col-material">
    <a class="result-row-link" href="{{ row.detail_url }}">
      <div class="cell-title">{{ row.material_label if row.material_label else row.material }}</div>
      <div class="cell-meta cell-meta-id"><span class="id-mono">{{ row.material_id }}</span></div>
    </a>
  </td>
  <td class="col-magndata"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.magndata_ids | join(", ") }}</a></td>
  <td class="col-collinearity"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.classification_label }}</a></td>
  <td class="col-spacegroup"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.space_group }}</a></td>
  <td class="col-maxss"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.max_ss_display }} eV</a></td>
  <td class="col-avgss"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.avg_ss_display }} eV</a></td>
  <td class="col-fdelta"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.fdelta_display }}</a></td>
  <td class="col-gap"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.bandgap_display }} eV</a></td>
  <td class="col-abundance"><a class="result-row-link" href="{{ row.detail_url }}">{{ row.abundance_display }}</a></td>
</tr>
